<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <%= partial :head %>
  <body>
    <div class="container">
      <div class="row">
        <div class="nav-container col-md-3">
          <%= partial :navigation %>

          <% if content_for?(:contact) %>
            <div>
              <%= yield_content :contact %>
            </div>
          <% end %>
        </div>

        <%= yield %>
      </div>

      <%= partial :footer %>
    </div>
  </body>
</html>
