---
layout: welcome
---
<% content_for :title do %>
  <%= t('.contact.browser.title') %>
<% end %>

<% content_for :description do %>
  <%= t('.contact.browser.description') %>
<% end %>

<% content_for :contact do %>
  <p>
    <%= t('.contact.company') %>
  </p>
  <p>
    <%= t('.contact.title') %>
  </p>
  <p>
    <%= t('.contact.phone') %><br>
    <%= mail_to t('.contact.mail'), t('.contact.mail') %><br>
    <p class="space"></p>
    <%= t('.contact.address') %>
  </p>
  <p>
    <%= link_to t('.contact.linkedin.title'), t('.contact.linkedin.href'), target: 'blank' %>
  </p>
<% end %>

<% content_for :footer do %>
  <div class="col-md-9"></div>
  <div class="col-md-3">
    <p>
      <small>
        <%= t('.contact.copyright') %>
      </small>
    </p>
  </div>
<% end %>

<% link_to '/gain.html', class: 'brand' do %>
  <%= image_tag 'logo.svg', alt: t('.contact.logo_alt') %>
<% end %>
