<% content_for :title do %>
  <%= t('.gain.browser.title') %>
<% end %>

<% content_for :description do %>
  <%= t('.gain.browser.description') %>
<% end %>

<div class="row header">
  <div class="col-md-8">
    <h1><%= t('.gain.title') %></h1>
  </div>
</div>
<div class="row">
  <div class="text-large col-md-7">
    <% t('.gain.text').each do |element| %>
      <p><%= element %></p>
    <% end %>
  </div>
  <div class="col-md-5">
    <h2>
      <u><%= t('.gain.subtitle') %></u>
    </h2>
    <% t('.gain.text2').each do |element| %>
      <p><%= element %></p>
    <% end %>
    <h2>
      <u><%= t('.gain.subtitle2') %></u>
    </h2>
    <ul>
      <% t('.gain.list').each do |element| %>
        <li><%= element %></li>
      <% end %>
    </ul>
  </div>
</div>
